## save to: ~/room-assistant/config/local.yml 
## template saved to ~/ansible/room-assistant/config/template/local.yml

global:
  instanceName: {{ room }}
  integrations:
    - homeAssistant
    - bluetoothClassic
#    - bluetoothLowEnergy

cluster:
  networkInterface: {{ networkInterface }}
  weight: {{ weight }}
  autoDiscovery: true

homeAssistant:
  mqttUrl: 'mqtt://mqtt.jmcal.us:1883'
  mqttOptions:
    username: roomassistant
    password: c8j2399IoL8V2lHQ9b2T

bluetoothClassic:
  interval: 20
  addresses:
#    - 'e0:aa:96:e3:4e:99'     #galaxy watch
    - 'c0:bd:c8:24:c8:b4'
    - 'a0:b4:a5:cb:f2:45'
  minRssi:
    'c0:bd:c8:24:c8:b4': -10
    default: -20


#e0 = watch
#c0 = s10
#a0 = s5

#bluetoothLowEnergy:
#  timeout: 300
#  whitelist:
#    - e0aa96e34e99
#    - c0bdc824c8b4
#    - a0b4a5cbf245
#    #tile
#    - c0f3ef370a43      # ID?
#    - dccb6adb0907      # keys?
#    - c4fe34cb7d0c
#    - ec78e7f7058f
#    - fd9a38f65182      # not mine?

#options:
# - laptop
# - luggage
# - keys
# - ID badge

